.icon {
  animation: sunny 1s linear infinite;
}

@keyframes sunny {
  0% {
    filter: brightness(1);
  }
  25% {
    filter: brightness(1.1);
  }
  50% {
    filter: brightness(1.15);
  }
  50% {
    filter: brightness(1.1);
  }
  100% {
    filter: brightness(1);
  }
}
