@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(to right, #e0e0e0, #9c9c9c);
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}
